body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #fff;
  color: #000;
}

a:link {
  color: #f00;
}

a:visited {
  color: rgb(0, 15, 91);
}

a:hover {
  background-color: rgb(98, 252, 250);
  color: rgb(0, 82, 82);
}

a:active {
  color: rgb(27, 0, 70);
}

.logo {
  font-size: 48px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: aliceblue;
  padding: 2px;
  border-radius: 8px;
}

#navlist li {
  display: inline;
  list-style-type: circle;
  padding-right: 20px;
  border-left: 1px solid #000;
  line-height: 1.1rem;
  margin: 0 0.5em 0 -0.5em;
  padding: 0 0.5em 0 0.5em;
}

.deadnav {
  color: #fff;
  background-color: #3cf;
}

.box {
  margin: 10px;
  padding: 10px;
  background-color: #666;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  clear: both;
}

.nav {
  margin: 10px;
  padding: 10px;
  background-color: #999;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.left {
  width: 20%;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: left;
}

.centre {
  width: 47%;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: left;
}

.right {
  width: 20%;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: right;
}

.lower_nav {
  margin: 10px;
  padding: 10px;
  background-color: #999;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  clear: both;
}

.legal {
  margin: 10px;
  padding: 10px;
  background-color: #999;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  clear: both;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}
